<div>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>Item</th>
                <th>Amount</th>
                <th>Unit</th>
                <th></th>
            </tr>
            <tr ng-repeat-start="item in vm.data" ng-click="item.isCollapsed = !item.isCollapsed">
                <td>{{item.item}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.unit}}</td>
                <td>
                    <button class="btn btn-danger btn-xs pull-right" ng-click="vm.remove($index)"><i class="fa fa-remove"></i></button>
                </td>
            </tr>
            <tr class="table-row-collapse" ng-repeat-end="" uib-collapse="!item.isCollapsed">
                <td colspan="3">
                    <p>Type    : {{item.type}}</p>
                    <p>Remark  : {{item.remark}}</p>
                </td>
                <td>
                    <button class="btn btn-warning btn-xs pull-right" ng-click="vm.edit($index)"><i class="fa fa-pencil"></i></button>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <button class="btn btn-primary btn-circle btn-add" ng-click="vm.add()"><i class="fa fa-plus"></i></button>
    </div>
</div>